$ORIGIN {{ zone.name }}.
$TTL {{ zone.ttl|default(600) }}

{{ zone.name }}. IN SOA {{ zone.soa.authns }}. {{ zone.soa.email }}. (
		{{ serial }}
		{{ zone.soa.refresh }}
		{{ zone.soa.retry }}
		{{ zone.soa.expiry }}
		{{ zone.soa.nxdomain }}
	)

{% for record in zone.records %}
{% for value in record.value %}
{{ record.name }}. {{ record.ttl|default("") }} IN {{ record.type }} {{ value }}
{% endfor %}
{% endfor %}
